.post-section {
  display: grid;
  grid-template-columns: 1fr;
}
.post-section-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.post-section-row > div {
  /* background-color: dodgerblue; */
  padding: 8px 14px;
  border-radius: 4px;
  color: white;
}
.manage-posts-container {
  /* background-color: rgb(253, 249, 249); */
  padding: 20px;
  overflow-x: scroll;
  /* background-color: #f9fdfe; */
  border-radius: var(--radius);
}
/* ============= Manage post table ============= */
#customers {
  text-align: left;
  font-size: 14px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5em;
}

#customers td,
#customers th {
  padding: 5px 8px;
  font-weight: 400;
}

#customers tbody tr {
  background-color: white;
  box-shadow: 0px 5px 20px #0001;
  transition: 0.3s ease-in-out;
}
#customers tbody tr:hover {
  transform: scale(1.01);
}

#customers thead th {
  /* text-align: center; */
  font-weight: 600;
  color: var(--heading);
  padding: 0.3cm;
  background-color: whitesmoke;
}
th {
  padding: 5px;
  font-weight: 400;
}
.t-desc {
  font-weight: 400;
  letter-spacing: normal;
  word-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.t-title h4 {
  letter-spacing: normal;
  word-spacing: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.t-image img {
  width: 80px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 4px;
}

.action-icon {
  font-size: 20px;
  cursor: pointer;
}
.edit {
  color: dodgerblue;
}
.delete {
  color: crimson;
}
.views-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.views {
  color: lightskyblue;
}
.views-label {
  font-weight: 500;
}
@media screen and (max-width: 678px) {
  
  .manage-posts-container {
    background-color: rgb(253, 249, 249);
    padding: 10px;
    overflow-x: scroll;
    /* background-color: #f9fdfe; */
    border-radius: var(--radius);
  }
  .modal-title h2{
    font-size: 20px;
    width: 200px;
  }
  #customers thead th {
    /* text-align: center; */
    font-weight: 600;
    color: var(--heading);
    padding: 0.1cm;
    font-size: 10px;
    background-color: white;
  }
  
}
@media screen and (max-width: 1024px) {
  
  .modal-title h2{
    font-size: 18px;
    width: 200px;
  }
  .search-form #inputs{
    width: 135px;
  }
  #customers {
    font-size: 8px;
  }
  
  #customers td,
  #customers th {
    padding: 2px 2px;
    font-weight: 300;
  }
  .modalBackground .modalContainer {
    width: 80%;
    height: auto;
    margin-top: 100px;
    padding: 5px;
  }
  .modal-body input[type="text"],
textarea {
  margin-top: 5px;
  width: 100%;
}
.editor{
  width: 100%;
  height: auto;
}
.modal-body{
  margin-top: 20px;
}
#mobile {
  display: block;
}
#mobile i {
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
}

}
@media screen and (max-width: 1024px) {
  
  .title-container h1{
    font-size: 10px;
    width: 100px;
  }
  .search-form #inputs{
    width: 135px;
  }
  #customers {
    font-size: 8px;
  }
  
  #customers td,
  #customers th {
    padding: 2px 2px;
    font-weight: 300;
  }
}
